<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <title>Contador</title>
</head>

<body>



  <h2> Contador: <%= count %>
  </h2>


  <div>


    <a href="/reinicio"> <button>Reinicio</button></a>
    <a href="/aumentar"><button>Aumentar en 2</button></a>


  </div>

</body>

</html>