<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <title>Contador</title>
</head>

<body>



  <h2> Contador: <%= count %>
  </h2>


  <div>
    <button>Agregar 2</button>
    <button>Reiniciar a 1</button>

  </div>

</body>

</html>